
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --background: #E6533C; 
   --color: #E6533C; 
}

p{
    font-size: 10px;
    color: gray;
}

header{
    background: linear-gradient(to bottom, black 0%, rgb(38, 37, 37) 50%, black 100%);
    max-width: 1200px;
    margin: 0 auto;
}

.nav-title{
    color: var(--color);
    font-style: italic;
    font-weight:800;
}


.btn-primary{
    background-color: #E6533C;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul{
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.334);
    border-radius: 10px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

.nav-main{
    padding: 24px;
}

.hamber-menu{
    display: none;
}

.banner{
    display: flex;
    width: 80%;
    position: relative;
}
.banner-content{
    width: 40%; 
    margin: 60px auto 50px;
}
.banner-heading{
   
    color: white;
    
}
.banner-text{
    color: gray;
    margin-bottom: 20px;
}
.special{
    font-style: italic;
}
.banner-image{
    height: 400px;
    width: 250px;
}
.banner-image img{
    height: 350px;
    width: 250px;
}
.normal-button{
    border-radius: 10px;
    padding: 5px;
    background: none;
    color: white;
    border: 1px solid rgb(95, 92, 92);
}
.button1{
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.321);
    border-radius: 10px;
    padding: 10px 15px;
    width: max-content;
    top: 66%;
    left: 70%;
}

.button2{
    position: absolute;
    color: white;
    background-color: rgba(128, 128, 128, 0.321);
    border-radius: 10px;
    padding: 10px 15px;
    width: max-content;
    top: 20%;
    right: -10%;
}

.habit{
    max-width: 1200px;
    background-color: black;
    margin: 0 auto;
    color: white;
    padding: 40px 150px;
}

.change{
    text-align: center;
}

.image-area{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 30px;
    justify-content: space-between;
    
}

.img-area{
    text-align: center;
    margin: 20px;
}

.img-area img{
    border-radius: 50%;
}

.run-extra{
    max-width: 1200px;
    background-color: black;
    margin: 0 auto;
    color: white;
    padding: 40px 150px;
}
.extra-mile{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 30px;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.322);
    border-radius: 10px;
}

.extra-left{
    width: 30%;
    text-align: center;
    padding: 30px;
}

.extra-right{
    width: 40%;
    margin-left: 10%;
}

.extra-right img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
}

.training{
    max-width: 1200px;
    background-color: black;
    margin: 0 auto;
    color: white;
    padding: 40px 150px;
    text-align: center;
}

.training-img{
    margin: 30px;
}
.training-img img{
    height: 150px;
    width: 250px;
    background-image: linear-gradient(#F948B2,#8758F1); 
    background-clip: initial;
    color: transparent;
}

.table-left{
    width: 50%;
    color: gray;
}
table{
    width: 300px;
    text-align: center;
}
th, td{
    border: 1px solid rgba(128, 128, 128, 0.382);
}
.tabl-right td{
    color: gray;
    font-size: 15px;
    background-color: rgba(128, 128, 128, 0.39);
    border-radius: 5px;
    margin: 10px;
}

.team{
    background-color: rgba(128, 128, 128, 0.477);
    padding: 20px;
    border-radius: 5px;
}
.team img{
    margin: 2px;
    border-radius: 5px;
}
footer{
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.767);
}
.footer{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
}
.fitnes{
    width: 40%;
    padding: 60px;
}
.get-left, .get-right{
    padding: 60px;
    color: white;
}
.footer ul, li{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    color: gray;
}
.reserve{
    color: gray;
    text-align: center;
    font-size: 12px;
    padding: 30px 50px;
}
hr{
    margin-bottom: 30px;
}


/* responsive query */

@media screen and (max-width: 576px){
    .hamber-menu{
        display: block;
        color: white;
    }
    
    nav ul{
        display: none;
    }

    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }


}

